<!doctype html>
<html lang="en">
  <head>
    
    <title>Jumbotron Template · Bootstrap</title>
    <!--link rel="stylesheet" href="/css/bootstrap.min.css" -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>
  <body>
    
      <% include ./partials/navbar %>


 
  
    <!-- Example row of columns -->
      <%- body -%>
  <!-- /container -->
  <% include ./partials/footer %>
  <% include ./partials/javascriptOnly %>
  


</body>
</html>
